@model IEnumerable<CRUDExer03.Models.Order>

@{
    ViewData["Title"] = "Popis kupaca";
    ViewData["Btn_Create"] = "Unesi kupca";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">@ViewData["Btn_Create"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
                <td>
                    @Html.ActionLink("Ažuriranje", "Edit", new { id = item.OrderId }) |
                    @Html.ActionLink("Detalji", "Details", new { id = item.OrderId }) |
                    @Html.ActionLink("Brisanje", "Delete", new { id = item.OrderId })
                </td>
            </tr>
        }
    </tbody>
</table>
